TELEGRAM_BOT_TOKEN=
TELEGRAM_PROXY_URL=
SERVICE_MESSAGE_ID=
SERVICE_MESSAGE_THREAD_ID=
PERSONAS_CONFIG_PATH=personas.yaml

OLLAMA_BASE_URL=http://localhost:11434
WEB_SEARCH_BASE_URL=http://searxng:8080

BOT_NAME=Xori
BOT_USERNAME=

ALLOWED_USER_IDS=
ALLOWED_GROUP_IDS=
